.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    /* Added: Stack children vertically */
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 30px;
    /* Added: Space before hr */
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Changed: Align left content to start */
    gap: 20px;
}

.footer-content-left img {
    width: 150px;
}

.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Changed: Better alignment */
    gap: 20px;
}

.footer-content-left ul,
.footer-content-center ul,
.footer-content-right ul {
    padding: 0;
    margin: 0;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-left li:hover,
.footer-content-center li:hover,
.footer-content-right li:hover {
    color: white;
}

.footer-content-center h2,
.footer-content-right h2 {
    color: white;
    margin-bottom: 10px;
}

.footer-social-Icons {
    display: flex;
    gap: 15px;
}

.footer-social-Icons img {
    width: 40px;
    cursor: pointer;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}

.footer-copyright {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #d9d9d9;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-content-left,
    .footer-content-center,
    .footer-content-right {
        align-items: center;
    }
}

@media(max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-copyright {
        text-align: center;
    }
}